@import url('/aw_donation_management/static/src/fonts/Jameel Noori Nastaleeq Regular.ttf');

.noto-nastaliq-urdu-custom {
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Change to 700 for bold */
}
