.family-card{border-radius:8px;overflow:hidden}
.family-card .bg-dark{background:#ecfdf5 ;color:#fff}
.family-card .no-photo{background:#ecfdf5 ;border-radius:80%;width:100px;height:100px;display:inline-flex;align-items:center;justify-content:center}
.o_pager {text-align:center}
